<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/fahiezah/Desktop/2024Projects/RestAssuredProject1/src/test/java/APIChaning">
        <classes>
            <class name="APIChaning.CreateUser">
                <methods>
                <include name="test_createUser"/>
             </methods>
            </class>

            <class name="APIChaning.GetUser">
                <methods><include name="getUser"/>
                </methods>
            </class>

            <class name="APIChaning.UpdateUser">
                <methods><include name="testUpdateUser"/>
                </methods>
            </class>

            <class name="APIChaning.DeleteUser">
            <methods>
                <include name="testDeleteUser"/>
            </methods>
             </class>

        </classes>
    </test>
</suite>